.about-card-parent {

    background-color: rgb(52, 158, 235);
    min-height: 500px;
    height: 100%;
    border-style: solid;
    border: 9px solid blue;
    outline: 9px solid red;
    outline: 9px solid yellow;
    position: relative;
    /*margin-right: 5%;
    margin-left: 5%; */

}
.about-card-main {
    background-color: rgb(52, 158, 235);
    height: 96%;
    width: 98.1%;
    position: absolute;
    border-style: solid;
    border: 9px solid yellow;

}

.about-card-child {

    height: 100%;
    padding-right: 10%;
    padding-left: 5%;
    justify-content: space-between; 
    line-height: 26px;
    padding-top: 3%;
    text-align: left;
}
