
/* --------- Start of Countdown --------- */

.count-down-timer-h1 {
  font-size: calc(30px + 2vmin);
  font-family: retro-font;
}

.count-down-panel {
  width: 100%;
  min-height: 300px;
  margin-top: 5%;
  align-items: center;
  margin-left: 20%;
}

.count-down-card-time-container {
  width: 60%;
  display: flex;
  justify-content: center;

}

.count-down-container-days {
  margin-left: 3%;
  margin-right: 3%;
}

.count-down-container-hours {
  margin-left: 3%;
  margin-right: 3%;
}

.count-down-container-minutes {
  margin-left: 3%;
  margin-right: 3%;
}

.count-down-container-seconds {
  margin-left: 3%;
  margin-right: 3%;
}

.count-down-panel-days {
  /*background-image: url("./images/DripBackground.jpg"); */
  order: 1;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 12%;
  min-height: 12vh;
  height: 50%;
  background-color: rgb(248, 145, 255);
  width: 150px;
  height: 150px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 75px;
  -webkit-border-bottom-right-radius: 75px;
  -webkit-border-bottom-left-radius: 75px;
  -webkit-transform:rotate(45deg);

  box-shadow: 1px 1px 7px  rgb(248, 145, 255);
}

.count-down-panel-hours {
  /*background-image: url("./images/DripBackground.jpg"); */
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6%;
  width: 12%;
  min-height: 12vh;
  height: 50%;
  background-color: rgb(248, 145, 255);
  width: 150px;
  height: 150px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 75px;
  -webkit-border-bottom-right-radius: 75px;
  -webkit-border-bottom-left-radius: 75px;
  -webkit-transform:rotate(45deg);
  box-shadow: 1px 1px 7px rgb(248, 145, 255);
}

.count-down-panel-minutes {
  /* background-image: url("./images/DripBackground.jpg"); */
  order: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  margin-left: 6%;
  min-height: 12vh;
  height: 50%;
  background-color: rgb(248, 145, 255);
  width: 150px;
  height: 150px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 75px;
  -webkit-border-bottom-right-radius: 75px;
  -webkit-border-bottom-left-radius: 75px;
  -webkit-transform:rotate(45deg);
  box-shadow: 1px 1px 7px rgb(248, 145, 255);
}



.count-down-panel-seconds {
  /*background-image: url("./images/DripBackground.jpg"); */
  order: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  margin-left: 6%;
  min-height: 12vh;
  height: 50%;
  background-color: rgb(248, 145, 255);
  width: 150px;
  height: 150px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 75px;
  -webkit-border-bottom-right-radius: 75px;
  -webkit-border-bottom-left-radius: 75px;
  -webkit-transform:rotate(45deg);
  box-shadow: 1px 1px 7px rgb(248, 145, 255);
}

.liquid-drop {
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes drop {
  0% {
    bottom: 0px;
    opacity: 1;
  }
  
  80% {
    opacity: 1;
  }
  
  100% {
    opacity: 1;
    bottom: -200px;
  }
}

.drops { /* adjust position, margin-top, right */
  position: absolute;
  -webkit-filter: url('#liquid');
  filter: url('#liquid');
  z-index: 1;
  opacity: 0;
  animation: fade-in .1s linear .4s forwards;
  margin-left: 4%;
}

.drop1 , .drop2 {
  width: 21px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /*background-color: #10a7c1; */
  margin-left: 15%;
  background-color: rgb(248, 145, 255)
}

.drop1 {
  width: 30px;
  height: 16px;
  bottom: 2px;
  border-radius: 0;
}

.drop2 {
  animation: drop 1.3s cubic-bezier(1,.19,.66,.12) .5s infinite;
}