.TeamPage-Main {
    text-align: center;
    margin-top: 15%;
    background-color: rgb(235, 52, 235);
}

.Phyllis-token {
    height: 15%;
    width: 15%;
}

.Ahawk-token {
    height: 15%;
    width: 15%;
}