.TeamPage-Main {
    font-family: 'Shrikhand';
    text-align: center;
    margin-top: 15%;
    padding-top: 5%;
    padding-bottom: 6%;
    background-color: rgb(248, 145, 255);
}

.h1-signature-flavors {
    font-size: 425%;
    color: white;
    text-shadow: 5px 5px yellow;
}

.Team-Container {
    margin-right: 15%;
    margin-left: 15%;
}

.Phyllis-token {
    padding: 10px;
    margin: auto;
    display: inline-block;
    width: 15%;
    min-width: 200px;
    -moz-border-radius: 50px; /* or 50% */
    border-radius: 50px; /* or 50% */
}

.Ahawk-token {
    padding: 10px;
    margin: auto;
    display: inline-block;
    width: 15%;
    min-width: 200px;
    -moz-border-radius: 50px; /* or 50% */
    border-radius: 50px; /* or 50% */
}

.eyescream-token {
    padding: 10px;
    margin: auto;
    display: inline-block;
    width: 11.3%;
    min-width: 200px;
    -moz-border-radius: 50px; /* or 50% */
    border-radius: 50px; /* or 50% */
}

.Team-Bio {
}