.top-nav-bar {
    font-family: 'Shrikhand';
    width: 100%;
    height: 15%;

    max-height: 50x;
    display: inline-block;
}

.top-nav-bar-h2 {
    display: inline-block;
    font-family: 'Shrikhand';
    padding-left: 5%;
    line-height: 96%;
    width: 10%;
    color: rgb(255, 242, 145);
    text-shadow: rgb(239, 66, 245) 3px 3px;
}

.connect-wallet-button {
    display: inline-block;
    margin: auto;
    margin-top: 1.5%;
    margin-right: 10%;
    float: right;
    -moz-border-radius: 13px; /* or 50% */
    border-radius: 13px; /* or 50% */
    background-color: rgb(239, 66, 245); /* Green */
    border: none;
    color: white;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}