@font-face {
  font-family: 'retro-font';
  src: URL('./fonts/Retro-font.ttf') format('truetype');
}



.body {
  background-image: url("./images/sprinkles.png");
  /*1background-image: url("./images/DripBackground.jpg"); */
  /*background-image: url("./images/dotted-img.jpeg"); */
}

.body2 {
  background-image: url("./images/DripBackground.jpg")
}

.App {
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  /*background: #61dafb; */
  /*background-color: #282c34; */
  background-color: white;
  border-radius: 50px;
  border: 2px solid white;
}

.social-navbar-top {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
  max-width: 10%;
}



.connect-wallet {
  margin-top: 2.5%;
  padding-right: 9.9%;
  text-align: right;
}



.wallet-button {
  background-color: rbga(235, 52, 232);
  color: black;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}

/* -------- Start of about -------- */

.collection-preview {
  height: 50vh;
  margin-bottom: 8%;
}

.collection-preview-gif {
  margin-top: 5%;
  margin-bottom: 5%;
  height: 90%;
  max-width: 340px;
}

.App-header {
  font-family: retro-font;
  margin-top: 5%;
  text-shadow: 3px 3px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(75px + 2vmin);
  /*color: white;
  color: rgb(252, 186, 3); */
  color: rgb(244, 77, 258);
}

.about {
  margin-top: 3%;
  max-width: 75%;
  margin-left: 13%;
  /*margin-left: 20%;*/
  position: relative;
  align-items: center;
  font-size: calc(9px + 2vmin);
  line-height: 4.5vh;
  width: 100%;
}

/* ---------- End of about ---------- */
/* ------- Start of Collection swiper ----------- */
.swiper-slide {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.swiper-slide-img {
  height: 100%;
  max-height: 55vh;
  max-width: 55vh;

  min-height: 30vh;
  min-width: 30vh;

  width: 100%;
}

.swiper-container {
  margin-top: 5%; 
  width: 100%;
}

.collection-header {
  margin-top: 5%;
  font-family: retro-font;
  margin-top: 5%;
  text-shadow: 3px 3px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: rgb(252, 186, 3)
}
/* --------End of Collection swiper -------- */

/* --------- Start of Countdown --------- */

/* --------- End of Countdown --------- */

/* --------Start of RoadMap ------ */
.team-img {
  max-width: 100%;
  max-height: 100%;
}


.roadmap-panel {
  background-image: url("./images/DripBackground.jpg");
  margin-top: 15%; 
}

.vertical-timeline-element-title {
  font-family: retro-font;
  color: black;
  /*text-shadow: 3px 3px white; */
}

.roadmap-img {
  max-width: 100%;
  max-height: 100%;
  min-height: 25em;
}

.road-map-and-info {
  margin-top: 7%;
  object-fit: cover;
  align-items: center;
  /*
  margin-top: 10%;
  font-size: calc(10px + 2vmin);
  */
}
/* --------- End of roadmap --------- */

/* ---------- Start of mint panel --------- */
.mint-panel {
  margin-top: 15%;
  height: 100%;
  min-width: 80%;
  /*max-height: 300px; */
  /*width: 100%; */
}

.mint-header {
  font-size: calc(50px + 2vmin);
  font-family: retro-font;
}

.mint-card {
  border-style: solid;
  height: 100%;
  min-width: 100px;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  
}

.mint-img {
  height: 30%;
  width: 30%;
  
  object-fit: cover;
  flex-direction: row;
  flex: 1;
}

.current-price-h1 {
  font-size: calc(75% + 2vmin);
}

.mint-card-title {
  width: 100%;
  display: flex;
  flex-direction: center;
  flex-wrap: wrap;
}

.mint-card-eyescream-info {
  margin-top: 7%;
  flex: 1;
  margin-left: 25%;
  align-items: left;
  font-size: calc(20% + 2vmin);
}

.mint-card-eyescream {
  width: 100%;
  display: flex;
  flex-direction: stretch;
  align-items: center;
  flex-wrap: wrap;
}

.mint-card-button-buy {
  width: 100%;
  margin-top: 2%;
  min-height: 5vh;
}

.mint-form-token-amount {
  width: 100%;
  min-height: 5vh;
  padding-left: -5%;
  padding-right: -90px;
}

.mint-card-total {
  width: 100%;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.total-h3 {
  margin-top: 5%;
  align-items: center;
  font-size: calc(5px + 2vmin);
}
.mint-card-total-price-h1 {
  margin-left: 30%;
  display: inline-block;
  font-size: calc(100% + 2vmin);
}

/* ----------- End of mint panel ---------- */

/* ----------- Start of team panel ---------- */

.team-header {
  font-family: retro-font;
  margin-top: 5%;
  text-shadow: 3px 3px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: rgb(3, 252, 177);
}

.team-members {
  display: inline-block;
  max-height: 20%;
  width: 100%;
}

.member-dev{
  display: inline-block;
  height: 34vh;
  max-width: 50vw;
}
.member-dev-2{
  display: inline-block;
  height: 34vh;
  margin-top: 4%;
  margin-left: 6%;
  margin-right: 6%;
  min-width: 34vw;
}

.member-boy{
  display: inline-block;
  height: 50vh;
  margin-top: 4%;
  margin-left: 6%;
  margin-right: 6%;
  max-width: 50vh;
}
.member-artist{
  display: inline-block;
  margin-top: 4%;
  height: 50vh;
  max-width: 50vh;
}

.social-navbar-bottom{
  text-align: center;
  margin-top: 3%;
  padding-bottom: 2%;
}

/* ----------- End of team panel ------------ */