.body {
  background-image: url("./images/sprinkles.png");
  /*background-image: url("./images/dotted-img.jpeg"); */
}

.App {
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  /*background: #61dafb; */
  /*background-color: #282c34; */
  background-color: white;
  border-radius: 50px;
  border: 2px solid white;
}

.social-navbar-top {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  max-width: 10%;
}



.connect-wallet {
  margin-top: 2.5%;
  margin-right: 5%;
  text-align: right;
}



.wallet-button {
  background-color: rbga(235, 52, 232);
  color: black;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}

.collection-preview {
  height: 50vh;
}

.App-header {
  margin-top: 5%;
  text-shadow: 3px 3px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(70px + 2vmin);
  /*color: white;
  color: rgb(252, 186, 3); */
  color: rgb(244, 77, 258);
}

.about {
  margin-top: 3%;

  /*margin-left: 20%;*/
  position: relative;
  align-items: center;
  font-size: calc(9px + 2vmin);
  line-height: 2.8vh;
  width: 100%;
}

.swiper-slide {
 position: relative;
 display: block;
 width: 100%;
 height: 100%;
 object-fit: cover;

}

.swiper-container {
  margin-top: 5%; 
  width: 100%;
}

.collection-header {
  margin-top: 5%;
  text-shadow: 3px 3px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: rgb(252, 186, 3)
}

.about-side-panel {
  margin-top: 10%;
  font-size: calc(10px + 2vmin);
  /*margin-right: 5%; */
  /*left: 2vh; */
  width: 100%;
}

.p1-about {
  width: 10%;
  margin-left: 15%;
}

.p2-about {
  width: 10%;
  margin-left: 75%;
}

.p3-about {
  width: 10%;
  margin-left: 25%;
}