.App {
  height: 100vh;
  text-align: center;
  /*background: #61dafb; */
  /*background-color: #282c34; */
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.connect-wallet {
  align-items: right;
}

.collection-preview {
  height: 50vh;
}

.App-header {
  margin-top: 5%;
  text-shadow: 3px 3px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
}

